{% extends 'base.html' %}

{% block content %}

<div class="container">
    <h1 id="recipe-title">movJdej Portfolio</h1>
    <hr>
    <div class="recipe-container-details">
        <button type="button" class="collapsible">Proposal</button>
            <div class="content">
                <p>Although movJdej is a common solution as a recipe search application, it solves a specific and special use case; It is a recipe web application with the purpose of hosting and providing interaction with a library on Hmong cuisine. Although there are a handful of blog posts and personal websites made by Hmong community members to hold a collection of Hmong dishes, I have yet to see a single collection on a larger scale. movJdej, mov ntse dej meaning “rice with water", aims to be a central online resource of Hmong cuisine for the public.</p>
                <br>
                <p>To view the full proposal, please use navigate to the Gogle document below.</p>
                <p><a href="https://docs.google.com/document/d/1AhvwM3aNa2CaW8vFln1r9MeweOnbBy1QubaEW-ks_R8/edit?usp=sharing">movJdej Proposal</a></p>
                <br>
                <p>Documentation Tools</p>
                <ul>
                    <li><a href="https://workspace.google.com/">Google Workspace</a></li>
                    <li><a href="https://github.com/">GitHub</a></li>
                </ul>
                <p>Reference Tools</p>
                <ul>
                    <li><a href="https://www.w3schools.com/">W3Schools</a></li>
                    <li><a href="https://www.geeksforgeeks.org/">GeeksforGeeks</a></li>
                </ul>
            </div><br><br>
        <button type="button" class="collapsible">Design</button>
            <div class="content">
                <p>Please use the links below to access the design aspects for movJdej.</p>
                <br>
                <p><a href="https://drive.google.com/file/d/1c03-hDC59O5TWSw-97yciXY_XnQhSiny/view?usp=sharing">Logo</a></p>
                <p>The logo was made in collaboration with my parents, Lou Vang and Yang Seng Vue. They suggested that since mov ntse dej, meaning rice with water, is the most Hmong dish I eat daily, it would be best as the name for the site. We decided to replace the word "ntse" with the letter J since they sound the same and would shorten the amount of letters in the logo. After a lot of debate, their reason for the J being in front was that it allowed for the logo to be read as "mov ntse dej" or "ntse mov ntse dej" which is both correct. It also made the J stand out more. They supported the curve of the sub description as it looked like the logo was in a bowl.</p>
                <br>
                <p><a href="https://drive.google.com/file/d/1IedgJgxHxXzuBLjbEAVzWhrE0baIUycx/view?usp=sharing">Font</a></p>
                <p>I chose Spartan for the rounded look that worked for the design of the logo. I wanted a secondary font that was distinctly different and less bolded, which resulted to Sanchez.</p>
                <br>
                <p><a href="https://drive.google.com/file/d/1sxha50BsDpdgyj2Rw-KrUUthvWwn6C3p/view?usp=sharing">Color Palette</a></p>
                <p>Originally I was looking for a colorful palette. However, feedback from my peers suggested a monochromatic look to match a modern and sleek design choice. I actually used a bowl of mov ntse dej as reference for the browns to use.</p>
                <br>
                <p><a href="https://drive.google.com/drive/folders/1ILJzLeo9h4RSARqzT1aHr-sfIwjTEpxN?usp=sharing">User Stories</a></p>
                <p>I had to create these User stories in order to fully understand the structure of my website. I tried to base these Users off of real people in my life and how they would interact with a fully fleshed out site.</p>
                <br>
                <p><a href="https://drive.google.com/file/d/1-daxkLXCJN5jgtcI3zU00Rj6cxAsErQn/view?usp=sharing">Site Map</a></p>
                <p>A map to show how each page connects to each other.</p>
                <br>
                <p><a href="https://drive.google.com/drive/folders/1tzJKzDxPu6cqeSlmRnezIigH6Fdswu8d?usp=sharing">Wireframe</a></p>
                <p>I decided that instead of some fancy digital wireframe, simple paper and pen sketches would be better suited for this project. Although my website stemmed from the project website Scrambled that I made for my Capstone course, I decided that these wireframes were still necessary to help me fully integrate a new use case and feel.</p>
                <br>
                <p>Design Tools</p>
                <ul>
                    <li><a href="https://coolors.co/">Coolors</a></li>
                    <li><a href="https://www.canva.com/">Canva</a></li>
                    <li><a href="https://procreate.art/">ProCreate</a></li>
                    <li><a href="https://www.microsoft.com/en-us/p/paint-3d/9nblggh5fv99#activetab=pivot:overviewtab">Paint3D</a></li>
                </ul>
            </div><br><br>
        <button type="button" class="collapsible">Technical</button>
            <div class="content">
                <p>Front-End</p>
                <ul>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/HTML">HTML</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/CSS">CSS</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript">JS</a></li>
                    <li><a href="https://jquery.com/">jQuery</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/AJAX/Getting_Started">AJAX</a></li>
                    <li><a href="https://fontawesome.com/">Font Awesome</a></li>
                    <li><a href="https://imgbb.com/">imgBB</a></li>
                </ul>
                <p>Back-End</p>
                <ul>
                    <li><a href="https://www.python.org/">Python</a></li>
                    <li><a href="https://flask.palletsprojects.com/en/2.0.x/">Flask</a></li>
                    <li><a href="https://developer.mozilla.org/en-US/docs/Learn/JavaScript/Objects/JSON">JSON</a></li>
                </ul>
            </div><br><br>
        <button type="button" class="collapsible">Code</button>
            <div class="content">
                <p>Below is the link to the GitHub repository where you may access the code.</p>
                <p><a>movJdej Source Code</a></p>
            </div><br><br>
        <button type="button" class="collapsible">Author</button>
            <div class="content">
                <img src="https://i.ibb.co/zQPXg3L/Shouayee.jpg" id="me">
                <p>My name is Shouayee Vue, a Hmong woman in STEM from the East Side of St Paul, Minnesota. I graduated from Highland Park Senior High School in 2018 and Macalester College in 2022 with a Major in Computer Science and a Minor in Asian Studies. I decided to pursue a STEM career because I have ambitions to make the field accessible to my Hmong community. I have a history working for youth and advocacy, and my dream job is one that would incorporate these passions into my STEM career. Thank you for visiting movJdej, which is like the baby of my ambitions. Some of my favorite things are birds, tennis, video games, food, and anime!</p>
                <br>
                <p>shouayeev09@gmail.com</p>
                <p><a href="https://www.linkedin.com/in/shouayeevue/">Shouayee's LinkedIn</a></p>
                <p><a href="https://www.facebook.com/shouayee/"> Shouayee's Facebook</a></p>
                <p><a href="https://www.instagram.com/shouayeev/">Shouayee's Instagram</a></p>
                <p><a href="https://www.macalester.edu/">Macalester College</a></p>
            </div><br><br>
    </div>
</div>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
                content.style.display = "none";
            } 
            else {
                content.style.display = "block";
            }
        });
    } 
</script>
{% endblock %}